<div class="contenedor-producto container">
  <div class="producto-superior">
    <p class="ver-detalles">
      view details
    </p>
    <img [src]="imagen" [alt]="productoNombre" class="imagen-producto img-fluid">
  </div>
  <div class="producto-inferior">
    <p class="producto-numero">
      {{ productoNumero }}
    </p>
    <p class="producto-nombre text-truncate">
      {{ productoNombre }}
    </p>

    <button type="button" class="btn-agregar">
      Agregar al carrito!
    </button>


  </div>
</div>
