<h1>
  Revisar facturas...
</h1>

<div class="form-group">
  <label for="busqueda"> Busqueda </label>
  <input id="busqueda"
         name="busqueda" type="text"
         [(ngModel)]="busqueda" #vtBusqueda = "ngModel"
  >
</div>
<button (click)="buscarPorCliente()" >Por Cliente</button>
<button (click)="buscarPorCajero()">Por Cajero</button>
<hr>

<div class="container">
  <div class="row">
    <div class="col">Nombre</div>
    <div class="col">Cedula</div>
    <div class="col">Direccion</div>
    <div class="col">Correo</div>
    <div class="col">Total</div>
    <div class="col">Cajero</div>
  </div>

  <div class="row" *ngFor="let factura of listaFacturas">
    <div class="col">{{factura.nombre}}</div>
    <div class="col">{{factura.cedula}}</div>
    <div class="col">{{factura.direccion}}</div>
    <div class="col">{{factura.correo}}</div>
    <div class="col">{{factura.total}}</div>
    <div class="col">{{factura.cajero}}</div>
  </div>

</div>

<hr>

<button (click)="volver()">Volver...</button>
